//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 28 04:24:27 2015
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "M14" LEVEL 1;
COMP "f" LOCATE = SITE "N14" LEVEL 1;
COMP "g" LOCATE = SITE "L14" LEVEL 1;
COMP "switches<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "dp" LOCATE = SITE "M13" LEVEL 1;
COMP "DownButton" LOCATE = SITE "C9" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "switches<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "switches<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "UpButton" LOCATE = SITE "A8" LEVEL 1;
COMP "an1" LOCATE = SITE "P17" LEVEL 1;
COMP "an2" LOCATE = SITE "P18" LEVEL 1;
COMP "an3" LOCATE = SITE "N15" LEVEL 1;
COMP "an4" LOCATE = SITE "N16" LEVEL 1;
COMP "RightButton" LOCATE = SITE "D9" LEVEL 1;
COMP "LeftButton" LOCATE = SITE "C4" LEVEL 1;
COMP "MiddleButton" LOCATE = SITE "B8" LEVEL 1;
COMP "a" LOCATE = SITE "T17" LEVEL 1;
COMP "b" LOCATE = SITE "T18" LEVEL 1;
COMP "c" LOCATE = SITE "U17" LEVEL 1;
COMP "d" LOCATE = SITE "U18" LEVEL 1;
SCHEMATIC END;

