

NET "switches[0]" LOC = T10;
NET "switches[1]" LOC = T9;
NET "switches[2]" LOC = V9;
NET "switches[3]" LOC = M8;
NET "switches[4]" LOC = N8;
NET "an1" LOC = P17;
NET "an2" LOC = P18;
NET "an3" LOC = N15;
NET "an4" LOC = N16;
NET "a" LOC = T17;
NET "b" LOC = T18;
NET "c" LOC = U17;
NET "d" LOC = U18;
NET "e" LOC = M14;
NET "f" LOC = N14;
NET "g" LOC = L14;
NET "dp" LOC = M13;
NET "LeftButton" LOC = C4;
NET "MiddleButton" LOC = B8;
NET "UpButton" LOC = A8;
NET "RightButton" LOC = D9;
NET "DownButton" LOC = C9;
NET "clk" LOC = V10;
